#filters {
	margin-bottom: 30px;
	}
#filters li {
	float:left;
	font-weight: bold;
	padding-right: 20px;
	line-height: 20px;
	}
#filters li span {
	display: block;			
	text-decoration:none;
	color:#333;
	cursor: pointer;
	font-weight: normal;
	}
#filters li span:hover {
	text-decoration: underline;
	}
#filters li span.active {
	text-decoration: underline;
	color:#3c8dc5;
	}
 
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;	
	display:none;	
	overflow:hidden;
	}
.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	background: #666;
	cursor:pointer;
	}
.portfolio {
	margin: 15px;
	width: 29.5%;
	}
.portfolio img {
	max-width:100%;
	position: relative;
	}
.portfolio .label {
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
	}
.portfolio .label-bg {
	background: #e95a44;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	}
.portfolio .label-text {
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 8px;
	}
.portfolio .text-category {
	display:block;
	font-size:9px;
	}

/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
