/*
Author: http://yurendra.com.np
Note: 
Any help: yurenlimbu@gmail.com
Licence: Creative Commons Attribution 3.0** - http://creativecommons.org/licenses/by/3.0/
*/
@charset "utf-8";

body {
	font-family: 'robotolight';
	font-size: 14px;
	}
p {
	line-height: 20px;
	}
h1 {
	font-size: 30px;
	}
h1.main-title {
	border-left: 2px solid #111;
	padding: 5px 0 5px 14px;
	text-transform: uppercase;
	color: #111;
	margin-bottom: 40px;
	}
h2 {
	
	}
h3 {
	font-size: 24px;
	}
h4 {
	font-size: 22px;
	}
h5 {
	font-size: 18px;
	}

/* --------------------/ BTNS*/
.btn-default {
	border: 1px solid #6fb7e9;
	padding: 12px 25px;
	font-size: 16px;
	color: #6fb7e9;
	}
.btn-default:hover {
	border: 1px solid #6fb7e9;
	background: none;
	}

/* --------------------/ HEADER */

#top-bar {
	background: #141f27;
	line-height: 37px;
	}
	
#top-bar p, #top-bar a {
	color: #a7a9ab;
	}
	
#top-bar span {
	color: #34424d;
	}
	
#top-bar ul li {
	display: inline-block;
	padding: 0 5px;
	}
	
ul.top-social {
	float: right;
	}
	
ul.top-social li a i {
	font-size: 16px;
	}	

ul.top-social li a:hover i {
	color: #fff;
	}

/* --------------------/ Navbar */
.logo {
	padding: 15px 0;
	}
.navbar {
	border-radius: 0;
	margin-bottom: 0;
	background: #3c8dc5;
	/*min-height: 100px;  */
	}
.navbar a {
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	height: auto;	
	}
.navbar-nav > li > a {
	padding: 5px 20px;
	margin: 0;	
	color: #fff;
	line-height: 88px;
	display: inline-block;
	outline: none;
	}
.navbar-nav > li:hover > a{
	background-color: #3783b8;
  	color: #fff;
	border-radius: 0;
	}
/* --------------------/ DropDown */
.navbar-nav > li:hover ul {
	display: block;
	background: #141f27;
	}
.navbar-nav li ul {
	border-radius: 0;
	padding: 0;	
	}
.navbar-nav li ul a {
	color: #fff;
	font-size: 14px;
	padding: 10px 20px;
	}
.navbar-nav li ul li:hover a {
	background: #0e151b;
	color: #fff;
	}
.search {
	float: right;	
	}
.search i {
	color: #fff;
	display: block;
	line-height: 98px;
	cursor: pointer;
	padding: 0 20px;
	font-size: 20px;
	background: #449edc;
	}
.search-hide {
	position: absolute;
	right: 14px;
	margin-top: 20px;
	z-index:999;
	width: 100%;
	display: none;
	}
.search-hide:before {
	content: "\f0d8";
	font-family:'FontAwesome';
	font-size: 25px;
	position:absolute;
	right: 23px;
	top: -17px;
	color: #fff;
	}
.search-hide input[type="text"] {
	color: #000;
	float: right;
	/*width: 250px;*/	
	text-indent: 15px;
	line-height: 30px;
	}
.search-hide button {		
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	border: none;
	padding: 0 5px;
	}
.search-hide button i {
	color: #141f27;
	font-size: 16px;
	height: 47px;
	line-height: 47px;
	padding: 0 7px;
	background: none;
	}
	
/* --------------------/ BANNER */
#myCarousel h1 {
	font-size: 3.5vw;
	margin-bottom: 50px;
	font-family: 'Slabo 13px', serif;
	}
#myCarousel h2 {
	font-size: 18px;
	}
#myCarousel a.hvr-sweep-to-right {
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	font-size: 16px;
	display: block;
	width: 183px;
	height: 48px;
	line-height: 48px;
	margin: 50px auto;
	transition: border .5s;
	}
#myCarousel a.hvr-sweep-to-right:hover {
	border: 1px solid #6fb7e9;
	text-decoration: none;
	}
.hvr-sweep-to-right:before {
	background: #6fb7e9;
	}
.carousel-caption {
	top: 20%;
	}
.carousel {
	margin: 0;
	}
	
/* --------------------/ Home Servies */
#home-services {
	background: #fafafa;
	padding: 50px 0 20px 0;
	}
.service-box {
	text-align: center;
	background: #fff;
	border: 1px solid #eee;
	padding: 40px 20px;	
	min-height: 337px;
	margin-bottom: 30px;
	}
.service-box i {
	font-size: 50px;
	color: #3c8dc5;
	}
.service-box h3 {
	padding: 30px 0;
	}
	
/* --------------------/ Home Blog */
#home-blog {
	margin: 50px auto 20px auto;
	}
p span, p span a {
	font-size: 12px;
	color: #aaa;
	}
p span a:hover {
	color: #6fb7e9;
	}
#home-blog p span.divider {
	color: #ccc;
	margin: 0 2px;
	}
.date {
	margin: 10px 0;
	}
.blog-readmore {
	margin-top: 20px;
	}

/* --------------------/ Testimonial */	
#testimonial {
	background: url(../images/testi-bg.jpg) no-repeat;
	background-size: cover;
	height: 367px;
	overflow: hidden;
	text-align: center;
	}
.dot-pattern {
	background: url(../images/pattern.png) ;
	padding: 50px 0;
	}
#myCarousel-2 {
	height: 300px;
	}
#testimonial img, #myCarousel-2 img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	min-width: 100px;
	position: relative;
	margin: 0 auto;
	}
#testimonial p {
	font-size: 20px;
	font-style: italic;
	color: #fff;
	margin: 25px 10px;
	
	}
#testimonial p:before {
	content: "\f10d";	
	left: -10px;
	bottom: 8px;
	}
#testimonial p:after {
	content: "\f10e";		
	right: -10px;
	top: 10px;
	}
#testimonial p:before, #testimonial p:after {
	position: relative;
	font-size: 20px;
	font-family:'FontAwesome';
	font-style:normal;
	}
#testimonial span {
	color: #6CADE7;
	font-size: 18px;	
	display: block;
	}
#testimonial .item {
	background: none;
	}
	
/* Carousel Fade */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}	

/* --------------------/ Home Portfolio */	
#home-portfolio {
	margin: 50px auto 20px auto;
	}
.portfolio-box {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	}
.portfolio-box img, .hidden-icon a { /* Transition */
	transition: all 1s;
	}
.hidden-icon {
	transition: all .5s;
	}
.hidden-icon {
	position: absolute;
	width: 100%;
	bottom: 0;
	opacity: 0;
	}
.hidden-icon a {
	width: 50%;
	display: block;
	float: left;
	text-align: center;
	background: rgba(60,141,197,0.7);
	height: 60px;
	line-height: 60px;
	border-right: 1px solid #7da8c8;	
	}
.hidden-icon a i {
	font-size: 20px;
	color: #fff;	
	}	
.hidden-icon a:hover {
	background: rgba(60,141,197,1);	
	}
.portfolio-box:hover .hidden-icon {
	opacity: 1;
	}
.portfolio-box:hover img {
	opacity: 0.6;
	transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
	}

/* --------------------/ Newsletter */	
	
#newsletter {
	background: #3c8dc5;
	color: #fff;
	text-align: center;
	}
#newsletter h1 {
	text-transform: uppercase;	
	}
#newsletter h5 {
	margin: 25px 0;
	}
#newsletter input[type="submit"] {
	width: 100%;
	-webkit-box-shadow: 1px 1px 3px rgba(2,2,2,.35);
	-moz-box-shadow: 1px 1px 3px rgba(2,2,2,.35);
	box-shadow: 1px 1px 3px rgba(2,2,2,.35);
	}
#newsletter input[type="submit"]:hover {
	box-shadow: none;
	}

/* --------------------/ Footer */
#footer {
	background: #111;
	padding: 50px 0 0 0;
	color: #fff;
	}
#footer h3 {
	border-left: 2px solid #fff;
	padding: 4px 0 4px 14px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 40px;
	font-size: 25px;
	}
#footer .news-box h4 a {
	color: #fff;
	}
#footer .news-box h4 a:hover {
	color: #6fb7e9;
	}
.news-box p span {
	color: #888;
	font-size: 12px;
	margin: 10px 0;
	}
.news-box p span.divider {
	color: #444;
	margin: 0 10px;
	}
#recent-tweets ul li {
	margin-left: 40px;
	border-bottom: 1px solid #222;
	padding: 20px 0;
	}
#recent-tweets ul li:first-child {
	padding-top: 0;
	}
#recent-tweets ul li:last-child {
	border: 0;
	}
#recent-tweets ul li:before {
	content:"\f099";
	font-family:'FontAwesome';
	font-size: 22px;
	position: absolute;
	left: 15px;
	}
#recent-tweets {
	
	}
div.timeline-header {
	display: none !important;
	visibility: hidden !important;
	}
#footer a {
	color: #6fb7e9;
	}
#footer a:hover {
	text-decoration: underline;
	}
ul.footer-social {
	margin-top: 40px;
	}
ul.footer-social li {
	display: inline-block;
	margin-right: 10px;
	}
ul.footer-social li a {
	border: 1px solid #fff;
	border-radius: 50%;
	height: 42px;
	line-height: 42px;
	width: 42px;
	text-align:center;
	display: block;
	transition: all .3s;
	}
ul.footer-social li a i {
	font-size: 18px;
	color: #fff;
	}
ul.footer-social li a:hover {
	background: #3c8dc5;
	border: 1px solid #3c8dc5;
	}
#bottom-footer {
	background: #222;
	padding: 40px 0;	
	}
#bottom-footer ul li {
	display: inline-block;
	padding: 0 15px;
	border-right: 1px solid #333;
	}
#bottom-footer ul li:last-child {
	border: none;
	}
#bottom-footer ul li a {
	color: #999;
	text-transform: uppercase;
	font-size: 12px;
	}
#bottom-footer p {
	font-size: 12px;
	color: #999;
	float: right;
	}
.photo-link img {
	  display: none;
	  }
	  
/* --------------------/ Pages */	  
.page-title {
	background: #f1f1f1;
	height: 100px;	
	}
.page-title h1 {
	margin-top: 30px;
	border-left: 2px solid #111;
	padding: 5px 0 5px 14px;
	text-transform: uppercase;
	color: #111;
	}
.page-title ul {
	line-height: 100px;
	}
.page-title ul li {
	display: inline-block;
	}
.page-title ul li:after {
	content:"/";
	}
.page-title ul li:last-child:after {
	content: "";
	}
.page-title ul li a {
	color: #333;
	padding: 0 5px;
	}
.main-content {
	padding-top: 46px;
	}
.main-content h2 {
	font-size: 22px;
	text-transform: uppercase;
	font-family: 'robotoregular';
	color: #333;
	margin-bottom: 20px;
	}
.main-content p {
	margin-bottom: 20px;
	}
.team {
	margin-bottom: 30px;
	}
.person {
	border: 1px solid #ccc;
	}
.person-name {
	position: relative;
	}
.person-name p {
	position: absolute;
	bottom: 0;
	background: rgba(255,255,255,0.7);
	width: 100%;
	color: #111;
	font-size: 20px;
	text-transform: uppercase;
	text-indent: 20px;
	padding: 15px 0;
	margin: 0;
	}
.person-details {
	padding: 20px 20px 0 20px;
	}
.person-details span {
	color: #3c8dc5;
	margin-bottom: 15px;
	display: block;
	}
.person-social {
	border-top: 1px solid #ccc;
	padding: 17px 0;
	text-align: center;
	}
.person-social li {
	display: inline-block;
	padding: 0 17px;
	}
.person-social li a i {
	color: #b2d1e5;
	font-size: 18px;
	}
.person-social li a i:hover {
	color: #3c8dc5;
	}
.number-count {
	background: #6fb7e9;
	text-align: center;
	color: #fff;
	padding: 39px 0 26px 0;
	margin-bottom: 40px;
	}
.number-count span {
	font-size: 70px;
	margin-bottom: 20px;
	display: block;
	}
.number-count p, .number-count p i {
	font-size: 16px;
	}
.owl-carousel {
	margin: 20px 0 40px 0;
	cursor: move;
	}
	
/* --------------------/ Sidebar */	
.sidebar {
	margin: 20px 0;
	}
.sidebar h2 {
	font-size: 22px;
	color: #3c8dc5;
	border-left: 2px solid #3c8dc5;
	text-transform: uppercase;
	padding: 5px 0 5px 20px;
	margin: 30px 0 20px 0;
	}
.sidebar h3 {
	font-size: 18px;
	}
.sidebar h3 a {
	color: #111;
	}
.sidebar h3 a:hover {
	color: #3c8dc5;
	}
.sidebar ul li a:before {
	content: "\f105";
	font-family:'FontAwesome';
	margin-right: 10px;
	}
.sidebar ul li a {
	color: #111;
	font-size: 15px;
	display: block;
	margin-bottom: 10px;
	}
.sidebar ul li a:hover {
	color: #3c8dc5;
	}
.recent-post {
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 20px;
	margin-bottom: 20px;
	}
.tags a {
	color: #999;
	border: 1px solid #999;
	padding: 5px 15px;
	margin: 0 10px 15px 0;
	font-size: 14px;
	}
.tags a:hover {
	border: 1px solid #6fb7e9;
	}








/* --------------------/ Universal */
.mar-b {
	margin-bottom: 30px;
	}
.divide {
	background: #222;
	height: 1px;
	margin: 25px 0;
	}
.padding-right-zero {
	padding-right: 0;
	} 
.border-bottom-zero {
	border-bottom: 0;
	}
.padding-bottom-zero {
	padding-bottom: 0;
	}







